* {
  box-sizing: border-box;/* widths consistent, especially for inputs and containers. padding do not break the layout*/
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #777;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
  color: #333;
}

#blog-container {
  margin-bottom: 10px;
  
}


#blog-container h2 {
  text-align: left;
  margin-top: 20px;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: inherit;
}

.error-message {
  color: red;
  font-size: 0.75em;
  display: block;
  margin-top: 2px;
}

#message {
  color: blanchedalmond;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0;/* initially hidden */
  transition: opacity 0.5s ease-in-out;
}


.delete-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;/* Slightly increased padding */
  font-weight: bold; /* Makes text more visible */
  margin-bottom: 20px;
  margin-top: 15px;
}


.edit-btn,
#submitBtn {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 12px;  /* Slightly increased padding */
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold;  /* Makes text more visible */
  margin-top: 15px;
 }

 .button-container {
  margin-top: 10px;
  flex: 0 0 auto;  /* prevents buttons from stretching */
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

button {
  cursor: pointer;
  transition: background-color 0.2s ease;
   padding: 6px 12px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
}

/* Submit button */
#submitBtn {
  background-color: green;
}

#submitBtn:hover {
  background-color: rgb(12, 29, 12);
}

/* Edit button */
.edit-btn {
  background-color: green;
  margin-left: 10px;
}

.edit-btn:hover {
  background-color:  rgb(12, 29, 12);
}

/* Delete button */
.delete-btn {
  background-color: red;
  margin-left: 10px;
}

.delete-btn:hover {
  background-color: darkred;
}


.post {
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}