* {
  box-sizing: border-box; /* widths consistent, especially for inputs and containers. padding do not break the layout*/
} 

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #777;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h2 {
  text-align: center;
  color: #333;
}

#blog-container{
  margin-bottom: 10px;;
}


#blog-container h2{
   text-align: left;
  margin-top: 20px;;

}
label{
  display:block;}

input, textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: inherit;
}

.error-message {
  color: red;
  font-size: 0.85em;
  display: block;
  margin-top: 2px;
}

#message {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.delete-btn{
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;  /* Slightly increased padding */
  font-weight: bold;  /* Makes text more visible */
  margin-bottom: 20px;
    margin-top: 15px;;
}


.edit-btn, .submitBtn{
  background-color: green !important; 
  color: white;
  border: none;
   padding: 6px 12px;  /* Slightly increased padding */
  border-radius: 5px;
  margin-bottom: 20px;;
    font-weight: bold;  /* Makes text more visible */
    margin-top: 15px;;

}

button {
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.remove-btn:hover {
  background-color: darkred;  /*  Hover feedback */
}

.edit-btn:hover {
  background-color: darkgreen;  /*  Hover feedback */
   cursor: pointer;
  transition: background-color 0.2s ease;
}


.button-container {
  margin-top: 10px;
    flex: 0 0 auto; /* prevents buttons from stretching */
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}


.post {
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
